h1{
    font-style:italic;
    text-align:center;
    background: linear-gradient(to top,orange, green);
    color:blue;
}
h2{
    font-style:italic;
    text-align:center;
    background: linear-gradient(to top,Grey,white);
    color:blue;
}
h3{
    font-style:italic;
    text-align:center;
    background: linear-gradient(to top,green, orange);
    color:blue;
}
body{
    background: linear-gradient(to top,orange, deeppink);
}